* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-width: 100vw;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    height: 80px;
}

nav ul li {
    list-style: none;
    padding-top: 10px;
    margin: 20px 40px 20px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 3px;
}

nav ul li a:hover {
    transition: 1s;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav img {
    filter: invert();
    width: 4%;
    height: 30%;
    margin: 5px;
 }


.big-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.small-container {
    background-color: white;
    width: 300px;
    height: 500px;
    text-align: center;
}

.box-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-img:hover {
    border: 1px white solid;
    transition: 0.5s;
}

hr {
    background-color: white;
    border: none;
    height: 5px;
    margin: 10px 0;
}

section {
    min-width: 100%;
    display: flex;
}

section .text-container {
    background-color: white;
    width: 100%;
    padding: 10px;
    color: #000;
}

.text-container h1 {
    padding-bottom: 10px;
}

.door-container {
    text-align: center;
    margin-top: 30px;
}

.door-container img {
    margin-top: 10px;
    filter: invert();
    width: 20%;
}

.door-container img:hover {
    cursor: pointer;
}